.venv
hailo_apps
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db
*.log
*.pot
*.mo
*.swp
influxtest.py
*.bak
*.tmp
*.coverage
.coverage.*
htmlcov/
dist/
build/
*.egg-info/
.eggs/
*.manifest
*.spec
*.lock
.vscode/
.idea/
.DS_Store
Thumbs.db